body {
 background-image: url("https://1.bp.blogspot.com/-3d4pXrM5YGY/UOgZf7pLbbI/AAAAAAAAKz8/dI-utiG63ms/s1600/apple-wallpaper-in-alle-kleuren-van-de-regenboog.jpg");
 background-color: darkcyan;
 background-repeat: no-repeat;
 background-position: 50% 0px;
 background-size: 100%;
 font: caption;
 color: aquamarine;
 background-attachment: fixed;
}
a {
  color: rgb(81, 81, 221)
}

#menu li {
  display: inline;
  float: left;
  border: 1px solid lightgreen;
  background: green

}
#menu a {
  color: white;
  text-decoration: none;

}

#menu a:hover {
  color: black;
  font-size: 20px;
}

.kopje {
  color: cyan;
}

.title{
  color: lightblue;
}

th, td {
  border-collapse: collapse;
  border: 2px solid gray;
}

td {
  background: darkred;
  color: lightgray;
}

.tabel {
  background:black;
  color: lightgray;
}

.belangerijk {
  color: yellow;
}

.leeg {
  background: #900C3F;
}
